In [1]:
import pandas as pd

In [5]:
income = pd.read_csv('/Users/shiyuan/Documents/Machine learning/project-park crime/data/4 nyc_ct_merged_race_income_15.csv')

In [7]:
income.head()

,Unnamed: 0,GEO.id,GEO.id2,Household_total,Household_Food_Stamp_Received,year,"Income_Less_than_$10,000","Income_$10,000_14,999","Income_$15,000_24,999","Income_$25,000_34,999",...,"Income_$100,000_149,999","Income_$150,000_199,999","Income_$200,000_or_more",Median_income,White_alone_percent,Black_or_African_American_alone_percent,American_Indian_and_Alaska_Native_alone_percent,Asian_alone_percent,Native_Hawaiian_and_Other_Pacific_Islander_alone_percent,Some_other_race_alone_percent
0,0,1400000US36001000100,36001000100,815,329,2015,16.7,14.4,18.8,7.6,...,6.7,0.9,0.4,25179.0,0.251374,0.614193,0.000000,0.023988,0.0,0.002999
1,1,1400000US36001000200,36001000200,2006,932,2015,14.7,21.7,12.4,10.6,...,4.5,2.9,2.3,26337.0,0.123257,0.829830,0.000000,0.002877,0.0,0.008630
2,2,1400000US36001000300,36001000300,2311,587,2015,14.5,6.7,23.4,5.6,...,5.8,1.3,0.9,32244.0,0.484554,0.374714,0.002670,0.025744,0.0,0.028413
3,3,1400000US36001000401,36001000401,1037,8,2015,0.5,3.1,6.6,8.7,...,18.7,7.7,3.3,72168.0,0.912092,0.041684,0.018985,0.027239,0.0,0.000000
4,4,1400000US36001000403,36001000403,2300,133,2015,7.2,13.0,9.8,6.3,...,14.7,4.9,3.9,52857.0,0.697679,0.159218,0.007950,0.075204,0.0,0.034379

In [9]:
income.columns

Index([u'Unnamed: 0', u'GEO.id', u'GEO.id2', u'Household_total',
       u'Household_Food_Stamp_Received', u'year', u'Income_Less_than_$10,000',
       u'Income_$10,000_14,999', u'Income_$15,000_24,999',
       u'Income_$25,000_34,999', u'Income_$35,000_49,999',
       u'Income_$50,000_74,999', u'Income_$75,000_99,999',
       u'Income_$100,000_149,999', u'Income_$150,000_199,999',
       u'Income_$200,000_or_more', u'Median_income', u'White_alone_percent',
       u'Black_or_African_American_alone_percent',
       u'American_Indian_and_Alaska_Native_alone_percent',
       u'Asian_alone_percent',
       u'Native_Hawaiian_and_Other_Pacific_Islander_alone_percent',
       u'Some_other_race_alone_percent'],
      dtype='object')

In [11]:
income=income[['GEO.id','Household_total','Median_income']]

In [20]:
income = income.rename(columns={'GEO.id':'Id'})

In [81]:
income

                        Id  Household_total  Median_income
0     1400000US36001000100              815        25179.0
1     1400000US36001000200             2006        26337.0
2     1400000US36001000300             2311        32244.0
3     1400000US36001000401             1037        72168.0
4     1400000US36001000403             2300        52857.0
5     1400000US36001000404                8            NaN
6     1400000US36001000501             1687        29431.0
7     1400000US36001000502              926        45357.0
8     1400000US36001000600             1358        22067.0
9     1400000US36001000700             1393        28657.0
10    1400000US36001000800              868        18583.0
11    1400000US36001001100              691        16083.0
12    1400000US36001001400             2354        39464.0
13    1400000US36001001500             2164        28817.0
14    1400000US36001001600             1758        45875.0
15    1400000US36001001700             1970        60743.0
16    1400000US36001001801             3340        63525.0
17    1400000US36001001802             1895        55302.0
18    1400000US36001001901             1132        71806.0
19    1400000US36001001902             1180        77847.0
20    1400000US36001002000             2588        47093.0
21    1400000US36001002100              914        33125.0
22    1400000US36001002200             1459        46186.0
23    1400000US36001002300              883        28447.0
24    1400000US36001002500             1223        17988.0
25    1400000US36001002600             2023        32929.0
26    1400000US36001012700             1229        48630.0
27    1400000US36001012800             1463        35597.0
28    1400000US36001012900             1536        33770.0
29    1400000US36001013000             2799        54844.0
...                    ...              ...            ...
4888  1400000US36119014809             2276        98750.0
4889  1400000US36119014810             1142        39366.0
4890  1400000US36119014811             1829       137545.0
4891  1400000US36119014901             2001       149464.0
4892  1400000US36119014903             2209        90159.0
4893  1400000US36119014907             1319       119821.0
4894  1400000US36119014908              937       136250.0
4895  1400000US36119014909             1156       106250.0
4896  1400000US36119015000             1880       124868.0
4897  1400000US36119981000              277        51563.0
4898  1400000US36119982000                0            NaN
4899  1400000US36119983000                0            NaN
4900  1400000US36119984000               75        39107.0
4901  1400000US36119985000                0            NaN
4902  1400000US36121970100             1030        59737.0
4903  1400000US36121970200             1586        59533.0
4904  1400000US36121970300             1390        64363.0
4905  1400000US36121970400             1614        58258.0
4906  1400000US36121970500             2248        45035.0
4907  1400000US36121970600             1855        50617.0
4908  1400000US36121970700             1204        53409.0
4909  1400000US36121970800             1177        51555.0
4910  1400000US36121970900              822        50278.0
4911  1400000US36121971000             1790        41384.0
4912  1400000US36121971100             1071        50560.0
4913  1400000US36123150100             2375        51250.0
4914  1400000US36123150200             2128        44821.0
4915  1400000US36123150300             2141        51829.0
4916  1400000US36123150400             1317        56309.0
4917  1400000US36123150500             1764        46852.0

[4918 rows x 3 columns]

In [94]:
park= pd.read_csv('/Users/shiyuan/Documents/Machine learning/project-park crime/data/10 park_census_tract.csv')

In [95]:
del park['Unnamed: 0']

In [112]:
park

,park_name,census_tract,ct,household
0,Community Garden Association,"1400000US36061003400,",[1400000US36061003400],3791
1,Each One Teach One,"1400000US36061024200,",[1400000US36061024200],1471
2,Highland Park Childrens Garden,"1400000US36047118000,",[1400000US36047118000],0
3,Collyer Brothers Park,"1400000US36061020800,",[1400000US36061020800],2077
4,Estella Diggs Park,"1400000US36005018500,",[1400000US36005018500],2439
5,American Veterans Memorial Pier,"1400000US36047003400,",[1400000US36047003400],1360
6,Harding Park Beautification Project,"1400000US36005000200,",[1400000US36005000200],1379
7,Frontera Park,"1400000US36081051700,",[1400000US36081051700],706
8,Skate Park,"1400000US36061019500,",[1400000US36061019500],3332
9,Yellowstone Park,"1400000US36081074100,",[1400000US36081074100],1547
10,Jackie Robinson Playground,"1400000US36047032500,",[1400000US36047032500],2481
11,Sunset Cove Park,"1400000US36081107201,1400000US36081107202,","[1400000US36081107201, 1400000US36081107202]",838
12,P.S. 173,"1400000US36061026300,",[1400000US36061026300],2881
13,P.S. 172,"1400000US36047010100,",[1400000US36047010100],1508
14,Fort Hill Park,"1400000US36085000900,",[1400000US36085000900],628
15,P.S. 176,"1400000US36047019600,",[1400000US36047019600],1528
16,Vernon/throop Av Block Association,"1400000US36047028300,",[1400000US36047028300],1416
17,Samuel Triangle,"1400000US36061021800,",[1400000US36061021800],2782
18,Haffen Park,"1400000US36005035800,",[1400000US36005035800],2429
19,Bethesda Terrace,"1400000US36061014300,",[1400000US36061014300],0
20,Hope Garden,"1400000US36061003002,",[1400000US36061003002],1756
21,Green Gems,"1400000US36047119600,",[1400000US36047119600],1738
22,Beanstalk Playground,"1400000US36005024501,",[1400000US36005024501],1574
23,Grand Central Parkway Extension,"1400000US36081038302,1400000US36081031700,1400...","[1400000US36081038302, 1400000US36081031700, 1...",12447
24,Horseshoe Playground,"1400000US36005013100,",[1400000US36005013100],1561
25,Forest Grove,"1400000US36085032300,",[1400000US36085032300],495
26,Manley's Pl,"1400000US36047119200,",[1400000US36047119200],1014
27,Myrtle Avenue Clemens Triangle,"1400000US36081055100,",[1400000US36081055100],1657
28,Louis Pl Friends,"1400000US36047030100,",[1400000US36047030100],986
29,P.S. 3,"1400000US36085019800,1400000US36005037504,","[1400000US36085019800, 1400000US36005037504]",3449
...,...,...,...,...
1998,Classon Triangle,"1400000US36047053700,",[1400000US36047053700],696
1999,Triborough Bridge Playground A,"1400000US36081009900,",[1400000US36081009900],0
2000,Triborough Bridge Playground C,"1400000US36081009500,",[1400000US36081009500],999
2001,West 186th Street Basketball Court,"1400000US36061026900,",[1400000US36061026900],2568
2002,Lentol Garden,"1400000US36047049900,",[1400000US36047049900],833
2003,Triborough Bridge Playground D,"1400000US36081009500,",[1400000US36081009500],999
2004,Curtis Playground,"1400000US36047095400,",[1400000US36047095400],1434
2005,Cutinella Triangle,"1400000US36047038600,",[1400000US36047038600],1200
2006,Jamaica Gateway Park,"1400000US36081020800,",[1400000US36081020800],672
2007,Hutchinson River Parkway,"1400000US36005019400,1400000US36005028400,1400...","[1400000US36005019400, 1400000US36005028400, 1...",23048
2008,GREENST,"1400000US36081038302,",[1400000US36081038302],0
2009,Merchant's House Museum,"1400000US36061005700,",[1400000US36061005700],1654
2010,Rappaport Playground,"1400000US36047011600,",[1400000US36047011600],1230
2011,MARINE PARK,"1400000US36047066600,",[1400000US36047066600],0
2012,Garden Of Happiness,"1400000US36005037100,",[1400000US36005037100],1691
2013,Mapes,"1400000US36005037100,",[1400000US36005037100],1691
2014,Townsend Garden,"1400000US36005022701,",[1400000US36005022701],1829
2015,Ruoff Triangle,"1400000US36081004200,",[1400000US36081004200],1213
2016,Zimmerman Playground,"1400000US36005033600,",[1400000US36005033600],2620
2017,College Point Park,"1400000US36081090700,1400000US36081092900,","[1400000US36081090700, 1400000US36081092900]",2647
2018,St. Andrew's Playground,"1400000US36047027100,",[1400000US36047027100],1035
2019,Beatty Plaza,"1400000US36005014900,",[1400000US36005014900],1415
2020,Barone Triangle,"1400000US36047070000,",[1400000US36047070000],678
2021,Father Demo Square,"1400000US36061006700,",[1400000US36061006700],3258
2022,P.S. 226,"1400000US36047044600,",[1400000US36047044600],691
2023,P.S. 221,"1400000US36047035500,",[1400000US36047035500],2085
2024,Sobel Playground,"1400000US36047053500,",[1400000US36047053500],1097
2025,Poppenhusen Park,"1400000US36081094700,",[1400000US36081094700],763
2026,Legion Triangle,"1400000US36081000600,",[1400000US36081000600],1070
2027,Mahoney Playground,"1400000US36085000700,",[1400000US36085000700],2272

In [98]:
park['ct']=map(lambda x: x.split(',')[:-1], park['census_tract'])

In [120]:
park['household']=0
park['median_income']=0

In [101]:
park.head(10)

,park_name,census_tract,ct,household
0,Community Garden Association,"1400000US36061003400,",[1400000US36061003400],0
1,Each One Teach One,"1400000US36061024200,",[1400000US36061024200],0
2,Highland Park Childrens Garden,"1400000US36047118000,",[1400000US36047118000],0
3,Collyer Brothers Park,"1400000US36061020800,",[1400000US36061020800],0
4,Estella Diggs Park,"1400000US36005018500,",[1400000US36005018500],0
5,American Veterans Memorial Pier,"1400000US36047003400,",[1400000US36047003400],0
6,Harding Park Beautification Project,"1400000US36005000200,",[1400000US36005000200],0
7,Frontera Park,"1400000US36081051700,",[1400000US36081051700],0
8,Skate Park,"1400000US36061019500,",[1400000US36061019500],0
9,Yellowstone Park,"1400000US36081074100,",[1400000US36081074100],0

In [118]:
import numpy as np

In [121]:

for i in range(len(park)):
    for j in park.ix[i,'ct']:
        park.ix[i,'household'] += income[income['Id']==j]['Household_total'].values[0]
        park.ix[i,'median_income']=np.mean(income[income['Id'].isin(park.ix[i,'ct'])]['Median_income'])

In [132]:
park.head()

,park_name,census_tract,ct,household,median_income
0,Community Garden Association,"1400000US36061003400,",[1400000US36061003400],3791,67166.0
1,Each One Teach One,"1400000US36061024200,",[1400000US36061024200],1471,18275.0
2,Highland Park Childrens Garden,"1400000US36047118000,",[1400000US36047118000],0,NaN
3,Collyer Brothers Park,"1400000US36061020800,",[1400000US36061020800],2077,42220.0
4,Estella Diggs Park,"1400000US36005018500,",[1400000US36005018500],2439,26496.0

In [133]:
park.to_csv('4 cleaned_medianincome_houldhold.csv')